
.header {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
  overflow: hidden;
}
