.kaufman__triangle {
  background-image: url(../../../images/kaufman/kaufman-triangle.svg);
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  background-size: cover;
  z-index: -1;
}
