/* * {
  outline: 1px solid red;
}
*/


.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", "Arial", sans-serif;
}


.header {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}


.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 228px;
  height: 32px;
  z-index: 2;

}

.header__title {
  max-width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color:#2f80ed;
}

.header__subtitle {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 30px;
  left: 64px;
  max-width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.header__main-illustrator {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  width: 568px;
  height: 568px;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  object-fit: fill;

}



.description {
  position: relative;
  display: flex;
  justify-content: center;
}

.two-columns {
  padding-top: 100px;
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  padding: 0;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  align-self: flex-start;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
}


.two-columns__paragraph {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  justify-content: flex-end;
  margin-top: 30px;
}

.two-columns__paragraph:first-of-type {
  margin-top: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.section-title {
  margin: 0;
  padding: 0;
  margin-top: 100px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  width: 60%;
  text-align: center;
}

.section-subtitle {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  text-align: center;
}

.table {
  margin: 0;
  padding: 0;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  width: 1100px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 250px;
  padding-top: 60px;
}

.table__heading {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feinman {
  position: relative;
  display: flex;
  min-height:  890px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f2f2f2;
}

.feinman__title{
  max-width: 648px;
  margin-top: 100px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0;
  z-index: 1;
}

.feinman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin-top: 70px;
  margin-bottom: 0;
  z-index: 1;
}

.feinman__link {
  display: block;
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  z-index: 1;
}

.feinman__image {
  display: block;
  position: absolute;
  width: 867px;
  height: 637px;
  bottom: 0;
  left: 0;
  z-index: 0;
}


.kaufman {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  overflow: hidden;
}

.section-title_theme_dark {
  margin-top: 90px;
  color: white;
  margin-bottom: 0;
  z-index: 2;
}

.section-subtitle_theme_dark {
  margin-top: 20px;
  padding: 0;
  color: white;
  margin-bottom: 0;
  z-index: 2;
}

.table_theme_dark {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
  z-index: 2;
}

.table__cell_theme_dark {
  margin: 0;
  padding: 0;
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 2;
}

.table__heading_theme_dark {
  margin-top: 0;
  margin-bottom: 0;
  z-index: 2;
}

.table__text_theme_dark {
  margin-top: 20px;
  padding-top: 0;
  margin-bottom: 0;
  z-index: 2;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  background-size: cover;
  z-index: 1;
}

.footer {
  position: relative;
  display: flex;
  min-height: 350px;
  background-color: #1f1f1f;

}

.footer__columns {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  justify-content: space-between;
  color: white;


}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
}

.footer__author  {
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin-bottom: 0;
  margin-top: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 16px;
  margin-right: 0;

}

.footer__column-link {
  margin-right: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;

}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
